<div ng-cloak>
    <div class="row">
        <div class="col-sm-1 pull-left" style="height: 40em !important; background-color: red; opacity: 0.3"></div>
        <div class="col-sm-4 col-sm-offset-3">
            <ng-swippy
                collection='vm.itemsCollection'
                width='100%'
                height='40em'
                item-click='vm.myCustomFunction'
                data='vm.showinfo'
                collection-empty='vm.collectionEmpty'
                swipe-left='vm.swipeLeft'
                swipe-right='vm.swipeRight'
                cards-number='3'
                label-ok='Cool'
                label-negative='Bad'>
            </ng-swippy>
        </div>
        <div class="col-sm-1 col-sm-offset-2 pull-right" style="height: 40em !important; background-color: green; opacity: 0.3"></div>
    </div>
</div>

<script type="text/ng-template" id="tinderModal.html">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">I'm a modal!</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <div class="row"  ng-repeat="item in vm.allItems">
            <div class="col-sm-4">
                <md-card md-theme="default" md-theme-watch="" class="_md md-default-theme">
                    <md-card-title>
                        <md-card-title-media>
                            <div class="md-media-sm card-media">
                                <img ng-src="{{item.thumbnail}}">
                            </div>
                        </md-card-title-media>
                        <md-card-title-text>
                            <span class="md-headline">{{item.title}}</span>
                            <span class="md-subhead">{{item.subtitle}}</span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-actions layout="row" layout-align="end center" class="layout-align-end-center layout-row">
                        <button class="btn btn-primary" type="button">Invest</button>
                    </md-card-actions>
                </md-card>
            </div>
            <div class="col-sm-5">
                <!--<nvd3 options='item.chart.options' data='item.chart.data'></nvd3>-->
            </div>
            <div class="col-sm-3">

            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="vm.ok()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="vm.cancel()">Cancel</button>
    </div>
</script>
