<div ng-cloak>
    <div class="row">
        <form>
            <div class="col-sm-4 col-sm-offset-1">
                <div class="form-group">
                    <label for="name" data-translate="main.name"></label>
                    <input ng-model="vm.info.account.name" type="text" class="form-control" id="name" placeholder="{{'main.placeholder.name' | translate}}">
                </div>
                <div class="form-group">
                    <label for="surname" data-translate="main.surname"></label>
                    <input ng-model="vm.info.account.surname" type="text" class="form-control" id="surname" placeholder="{{'main.placeholder.name' | translate}}">
                </div>
                <div class="form-group">
                    <label for="email" data-translate="main.email">Email</label>
                    <input ng-model="vm.info.account.email" type="email" class="form-control" id="email" placeholder="{{'main.placeholder.email' | translate}}">
                </div>
                <button ng-click="vm.goToTinder()" class="btn btn-default" data-translate="main.submit">Go</button>
            </div>
            <div class="col-sm-4 col-sm-offset-1">
                <div class="form-group">
                    <label for="name" data-translate="main.name"></label>
                    <input type="text" class="form-control" id="name" placeholder="{{'main.placeholder.name' | translate}}">
                </div>
                <div class="form-group">
                    <label for="surname" data-translate="main.surname"></label>
                    <input type="text" class="form-control" id="surname" placeholder="{{'main.placeholder.name' | translate}}">
                </div>
                <div class="form-group">
                    <label for="email" data-translate="main.email">Email</label>
                    <input type="email" class="form-control" id="email" placeholder="{{'main.placeholder.email' | translate}}">
                </div>
            </div>
        </form>
    </div>
</div>
